/* Fondo */
body {
    background-image: url('img/background.gif');
    background-repeat: no-repeat;
    background-size: 1920px;
}
/* Caja del loger */
#FargoLogger {
    display:flex;
    border-radius: 90px;
    margin-top: 65px;
    margin-left: 250px;
    background-color:rgb(26, 3, 26);
    opacity: 0.95;
    width: 1280px;
    height: 720px;
    padding: 50px;
}
/* Campos del log tray */
#FargoLogTray input {
    padding: 5px;
    margin-left: 35px;
    margin-top: 25px;
    width: 450px;
    border-radius: 5px;
    background:rgba(54, 3, 54, 0.541);
    border-color: purple;
    border-style: groove;

}
::placeholder{
    color: pink;
    font-family: sans-serif;
    font-style:italic;
}
/* Texto de registro */
#RegisterOption::before{
    content: "";
}
RegisterTray a [href=""]{
    color: white;
}
#RegisterOption {
    font-family: sans-serif;
    color: pink;
    margin-left: 35px;
    margin-top: 10px;;
}

/* IconRandomizer */
#IconRandomizer{
    margin-left: 150px;
    height: 300px;
}

#OtherSignUps {
    margin-left: 35px;
}

#OtherSignUps > button {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    color: pink;
    margin-right: 10px;
}

#OtherSignUps > button > img {
    width: 40px;
    height: 40px;
}